.drivingBasics_theories{
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.drivingBasics_theories_sections{
    padding: 2rem;
    border-radius: 5px;
    font-weight: 500;
    font-size: 1.1rem;
    cursor: pointer;
}
.drivingBasics_theories_explanations{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 50px;
}
@media(max-width: 900px){
    .drivingBasics_theories{
        padding: 10px;
    }
    .drivingBasics_theories_sections{
        padding: 1.5rem;
    }
    .drivingBasics_theories_explanations{
        padding: 10px 10px;
        font-weight: 500;
        font-size: 0.95rem;
        line-height: 1.5;
    }
}