.confirmationExam_main{
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.mockTestImg_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mockTestImg_container img{
    margin-bottom: 15px;
    width: 150px;
    background-color: transparent;
}
.mockTest_info{
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 5rem;
    padding-bottom: 20px;
    border-bottom: 1.5px solid black;
}
.mockTest_info .totalQn,.mockTest_info .total_minutes{
    padding: 15px 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 0.9rem;
    box-shadow: 0 1px 0 black;
    border-radius: 20px;
}
.mockTest_info .totalQn{
    background-color: #C5D5F0;
}
.mockTest_info .total_minutes{
    background-color: #D5F0F5;
}
.mockExam_instruction{
    width: 50%;
    border-bottom: 1.5px solid black;
    padding: 15px 0;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}
.general_instructions{
    width: 50%;
    padding: 15px 0;
}
.general_instructions p{
    font-size: 0.9rem;
    font-weight: 500;
}
.general_instructions ol{
    padding: 10px;
    padding-left: 18px;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}
.general_instructions ol li{
    font-size: 0.9rem;
}
.general_instructions button{
    margin: 10px 0;
}

@media(max-width: 900px){
    .confirmationExam_main{
        padding: 10px;
    }
    .mockTest_info{
        width: 100%;
        gap: 0.8rem;
    }
    .mockExam_instruction{
        width: 100%;
        padding: 8px;
    }
    .general_instructions{
        width: 100%;
        padding: 8px;
        line-height: 1.3;
    }
    .mockTest_info .totalQn,.mockTest_info .total_minutes{
        padding: 20px 15px;
        border-radius: 20px;
        box-shadow: 0 1px 0 black;
    }
}