/* Header */
header{
    padding: 30px 50px 20px 50px;
}
header nav{
    display: flex;
    justify-content: space-between;
}
nav .logo{
    display: flex;
    align-items: center;
}
nav .logo .logo_img {
    background-color: white;
}
nav .logo .logo_img img{
    width: 60px;
}
.mvdlogo_info{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}
nav .logo .mvdlogo_info h1{
    font-size: 1.1rem;
    align-self: flex-start;
}
nav .logo .mvdlogo_info p{
    font-size: 0.6rem;
}
.selector{
    padding: 5px 12px;
    border-radius: 999px;
    box-shadow: 0 0 5px black;
    outline: none;
}

/* body */
.homePage_main{
    width: 100%;
    padding: 10px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    box-sizing: border-box;
}
.homePage_main a{
    text-decoration: none;
    color: black;
}
.boxes{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 250px;
    border-radius: 10px;
    box-sizing: border-box;
    cursor: pointer;
    line-height: 1.5;
}
.icons_design{
    font-size: 4rem;
}
.item_info{
    font-size: 0.9rem;
}

@media (max-width: 900px) {
    .homePage_main {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .homePage_main {
        grid-template-columns: 1fr;
    }
    .boxes {
        height: auto;
    }
    header{
    padding: 20px;
    }
    .selector{
        padding: 3px 8px;
    }
}