.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 }
 .top_section{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 60px 0 60px;
 }
.top_section .left_logo img{
    width: 160px;
}
.top_section .right_logo img{
    width: 100px;
}
.hero_page{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.mvd_leads{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 0.8rem;
}
.mvd_leads img{
    width: 250px;
}
.info{
    margin: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.3rem;
    font-weight: 500;
}
button{
    margin-top: 4rem;
    width: 100%;
    border-radius: 999px;
    padding: 12px;
    border: transparent;
    font-size: 1.1rem;
    color: var(--white);
    background-color: var(--button-bg);
}
button:hover{
    background-color: var(--button-bg-hover);
    transition: 0.2s ease-in;
}
.footer{
    margin-top: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.4rem;
}
.footer p{
    font-size: 0.6rem;
}
.footer h4{
    font-size: 0.8rem;
}

@media(max-width: 580px){
    .main{
        height: auto;
    }
    .top_section{
        padding: 50px 20px 0 5px;
    }
}