.questionBank_main{
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.question_container{
    box-shadow: -1px 3px 4px black, 1px 0 4px;;
    padding: 15px;
    border-radius: 8px;
}
.question_container{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
.question_container_questions p{
    display: flex;
    gap: 0.5rem;
    font-size: 1.1rem;
    font-weight: 900;
}
.question_container_answers{
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}
.question_container_answers p{
    display: flex;
    gap: 0.5rem;
}
.question_container_answers p span{
    font-weight: 500;
}
.question_correct_answers p{
    font-weight: 900;
}

@media(max-width: 900px){
.questionBank_main{
    padding: 10px;
}
}