.result_page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(225, 242, 254);
    height: 100vh;
}
.emoji_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    text-align: center;
}
.emoji_container h1{
    font-size: 12rem;
}
.emoji_container h2{
    text-transform: uppercase;
    color: red;
}
.score_container{
    width: 400px;
    height: 200px;
    border-radius: 10px;
    background-color: rgb(225, 242, 254);
    margin: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    font-weight: 500;
}
.score_container p{
    font-size: 1.5rem;
}
.score_container h1{
    font-size: 3.5rem;
}
.try_again_container{
    width: 50%;
    height: 75px;
    gap: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.try_again_container button:first-child{
    height: 100%;
    background-color: rgb(254, 225, 236);
    color: black;
    font-weight: 600;
}
.try_again_container button:last-child{
    height: 100%;
    background-color: rgb(196, 250, 155);
    color: black;
    font-weight: 600;
}

@media(max-width: 900px){
.result_page{
    height: 100dvh;
    overflow: hidden;
}
.try_again_container{
    width: 100%;
    padding: 0 10px;
    height: 60px;
}
}